@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;

.pageheader {
    &__wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;

            @include desktop {
                justify-content: space-between;
                flex-direction: row;
                margin: 0 5rem;
            }
    }
    &__logo {
        
        height: 8rem;

        @include desktop {
           
            margin-top: 1rem;
            height: 15rem;
        }

    }
    &__list {
        margin: 1rem 2rem 0 2rem;
        @include list;
        display: flex;
        justify-content: space-evenly;
      
        gap: 0.75rem;
        flex-wrap: wrap;
       
        padding: 0;
        @include desktop {
            margin-top: 0;
        }
    }
    &__list-item {
        display: flex;
        gap: 1rem;


    }
    &__link {
        
            width: 3rem;
            background:$color-accent-yellow;
            color: $color-white;
            font-size: 1rem;
            padding: 0.5rem 0.5rem;
            border: 0;
            transition: all 0.5s;
            border-radius: 20px;
            position: relative;
            text-align: center;

            @include desktop {
                width: 5rem;
                font-size: 1.5rem;
                padding: 0.5rem 0.5rem;
            }
           
        
            &::after {
                position: absolute;
                left: 80%;
                top: 54%;
                right: 0;
                bottom: 0;
                opacity: 0;
                transform: translate(-50%, -50%);
        
            }
        
            &:hover {
                background: $color-primary;
                transition: all 0.5s;
                border-radius: 20px;
                box-shadow: 0px 6px 15px #0000ff61;
                padding: 0.5rem 2rem;
                color: #ffffff;

                @include desktop {
                    padding: 0.5rem 3rem;
                }
        
                &::after {
                    opacity: 1;
                    transition: all 0.5s;
                    color: #ffffff;
        
                }
            }
        &--active {
            background:$color-primary;
            color: $color-white;
            font-size: 1rem;
            padding: 0.5rem 0.5rem;
            border: 0;
            transition: all 0.5s;
            border-radius: 20px;
            width: 3rem;
            position: relative;
            text-align: center;
           
            @include desktop {
                width: 5rem;
                font-size: 1.5rem;
                padding: 0.5rem 0.5rem;
            }
        
            &::after {
                position: absolute;
                left: 80%;
                top: 54%;
                right: 0;
                bottom: 0;
                opacity: 0;
                transform: translate(-50%, -50%);
        
            }
        
            &:hover {
                background: $color-primary;
                transition: all 0.5s;
                border-radius: 20px;
                box-shadow: 0px 6px 15px #0000ff61;
                padding: 0.5rem 3rem;
                color: #ffffff;
        
                @include desktop {
                    padding: 0.5rem 3rem;
                }

                &::after {
                    opacity: 1;
                    transition: all 0.5s;
                    color: #ffffff;
        
                }
            }
        
        
        }
        }
        
        }
    //     @include MH3;
    //     text-decoration: none;
    //     color: $color-text;
    //     padding: 0.25rem;
    //     text-align: center;
    //     &:hover {
    //         color: white;
    //         display: hidden;
    //     }

    //     @include tablet {
    //         @include H2;
    //     }

    //     &--active {
    //         @include MH3;
    //         color: orange;
    //         padding: 0.25rem;
    //         text-decoration: underline;

    //         @include tablet {
    //             @include H2;

    //         }
    //     }
    // }



