// primary colors
$color-primary-text: #13182c;
$color-blue-cta: #2e66e5;
$color-white: #ffffff;

// secondary colors
$color-placeholder-table-text: #5c667e;
$color-borders-diverders: #bdc5d5;

// background colors
$color-background-dark: #232940;
$color-background-light: #f7f8f9;

// supporting colors
$color-instock-green: #158463;
$color-outofstock-red: #c94515;
