// primary colors
$color-primary: #171D4E;
$color-accent-yellow: #FFAC0A;
$color-white: #ffffff;
$color-text: #6E6C6C;

// secondary colors
$color-placeholder-table-text: #5c667e;
$color-borders-diverders: #bdc5d5;

// background colors
$color-background-dark: #232940;
$color-background-light: #f7f8f9;

// supporting colors
$color-instock-green: #158463;
$color-outofstock-red: #c94515;
