@use './typography' as *;
@use './variables' as *;

@mixin html {
  font-size: 16px;
  width: 100%;
}

@mixin list {
  list-style-type: none;
  text-decoration: none;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  background-color: $primary-cta-color;
  border-radius: 4px;
  color: $white;
  border: none;
  height: 2.5rem;
  &:hover {
    background-color: $hover-cta-color;
  }
}
@mixin input {
  border-radius: 4px;
  border: $diverline-color solid 1px;
  background-color: $form-field-color;
  font-family: "Avenir";
  color: $primary-text;
  font-size: 0.75rem;
  &::placeholder {
    color: $primary-text;
  }
  &:active {
    outline: hidden;
    border: solid 2px $primary-cta-color;
  }
}

@mixin divider-border {
  border-bottom: solid 2px $diverline-color;
}

@mixin MH1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}

@mixin MH2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

@mixin MH3 {
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;
}

@mixin MH4 {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;
}

@mixin MP1 {
  font-size: 0.938rem;
  line-height: 1.625rem;
}

@mixin MP2 {
  font-size: 0.813rem;
  line-height: 1.25rem;
}

@mixin MP3 {
  font-size: 0.688rem;
  line-height: 1rem;
}

// TABLET / DESKTOP
@mixin H1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

@mixin H2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin H3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin H4 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 600;
}

@mixin P1 {
  font-size: 1rem;
  line-height: 1.75rem;
}

@mixin P2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin P3 {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin button {
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0px 20px rgba(204, 169, 44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0rem 0.75rem;
  background: #ff9a3f;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  // animation: pulse 1.5s infinite;
  // transition: margin-top 2s;
  width: 6rem;
  border-radius: 50px;
  &:hover {
    animation: pulse 1.5s infinite;
  transition: margin-top 2s;
  }

  @include desktop {
    width: 7rem
  }
}
