@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;

.comments-display {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 1rem;

    @include tablet {
        width: 75vw;
    }

    @include desktop {
        width: 55vw;
    }

    &__wrapper {
        width: 100%;
        border-bottom: 1px solid $color-text;
        display: flex;
        flex-direction: column;
      

    }
    &__user-info {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        @include MH3;

        @include desktop {
            @include H3;
        }

    }
    &__date {
        @include MP3;
        line-height: 1.4rem;

    }
    &__comment {
        @include MP2;
        margin-bottom: 0.25rem;

        @include desktop {
            @include MP1;
        }

    }
    &__delete-button {
        @include button;
        background-color:#dbdbdb;
        width: fit-content;
        align-self: flex-end;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        @include desktop {
            font-size: 1rem;
            width: fit-content;
        }
        

    }

}
