@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;



.beercard-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 12rem;

    @include tablet {
        margin-top: 16rem;
    }

    @include desktop {
    margin-top: 18rem;
    }
   
}