@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;


.video {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100vw;
    height: 8.5rem;
    z-index: -90;
    border-top: 4px solid $color-accent-yellow;
    border-bottom: 4px solid $color-accent-yellow;

    @include tablet {
        height: 14rem;
        object-position: 0 -50px;
    }

    @include desktop {
        height: 18rem;
          top: 200px;
          object-position: 0px -130px;
          border-top: 6px solid $color-accent-yellow;
          border-bottom: 6px solid $color-accent-yellow;
    }
}