@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;

.beer-details {
    margin-top: 14rem;
    @include list;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet {
        margin-top: 18rem;
    }

    @include desktop {
        margin-top: 18rem;
    }

    &__background {
        background-color: $color-accent-yellow;
        opacity: 0.4;
        border-radius: 5px;
        height: 34rem;
        width: 95vw;
        position: absolute;
        z-index: -1;
        top: 500px;

        @include tablet {
            height: 35.5rem;
            width: 85vw;
            top: 700px;
        }

        @include desktop {
            top: 900px;
            height: 43rem;
            width: 75vw;
           
        }
    }
    &__wrapper {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-between;

        @include tablet {
            padding-top: 1.5rem;
            width: 40%;
        }

        @include desktop {
            margin: 0 2rem;
   
        }

    }
    &__brewery-wrap {
        @include desktop {
            display: flex;
            flex-direction: row;
        }
    }
    &__beer-name {
        text-align: center;
        @include MH2;
        margin: 0.75rem 0 0.5rem;
        color: $color-primary;

        @include desktop {
            @include H1;
            margin-top: 2rem;;
            padding-right: 1rem;
        }
    }
    &__brewery-info {
        text-align: center;
        @include MP2;
        margin: 0;
        color: $color-primary;

        @include desktop {
            font-size: 1.25rem;
            margin-top: 2rem;
            line-height: 3.25rem;
        }
    
    }
    &__beer-type {
        text-align: center;
        @include MH3;
        margin: 0.75rem 0 0;
        color: $color-primary;

      
        @include desktop {
            @include H2;
        }
    }
    &__image {
        width: 85vw;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        object-fit: fill;

        @include tablet {
            width: 75vw;
        }

        @include desktop {
            width: 65vw;
        }
    }
    &__description {
        width: 80%;
        text-align: center;

        @include tablet {
            width: 60%;
        }
    }

    &__name {
        font-weight: bold;
        width: 45%;
        margin: 0;

        
    }

    &__info {
        width: 55%;
        margin: 0;
    }
}

.edit-beer {
    @include list;
    margin: 0 auto;
  
    &__modal-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  
    &__modal-header {
      text-align: center;
      margin-bottom: 0;
    }
    &__form {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  
    &__label {
      width: 100%;
      @include MP1;
      font-weight: bold;
  
      @include tablet {
          @include P1;
      }
  
      @include desktop {
          margin-top: 1rem;
      }
    }
    &__input {
      width: webkit-fill-available;
      margin: 0.25rem 0;
      padding: 0.25rem;
      border-radius: 20px;
      border: 1px solid $color-accent-yellow;
      height: 2rem;
    }
  
    &__modal-location {
      text-align: center;
      background-color: $color-accent-yellow;
      border-radius: 5px;
    }
  
    &__modal-date {
      text-align: center;
      margin-bottom: 0.5rem;
    }
  
    &__modal-description {
      padding-bottom: 0.5rem;
      text-align: center;
    }
    &__map {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  
      @include desktop {
        width: 75%;
        margin: 0 auto;
      }
    }
  
    &__modal-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14rem;
      background-color: white;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: 50;
      padding: 1rem;
  
      @include tablet {
        width: 24rem;
      }
  
      @include desktop {
        display: flex;
        flex-direction: column;
        width: 30rem;
      }
    }
  
    &__button-wrapper {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0;
    }
    &__submit {
      @include button;
      @include MP2;
      width: fit-content;
  
      @include tablet {
          @include P1;
      }
    }
    &__cancel {
      border: none;
      background-color: white;
      text-decoration: none;
      color: $color-accent-yellow;
      padding: 0.25rem 1rem;
      &:hover {
        color: $color-accent-yellow;
      }
  
      @include desktop {
        padding: 0.75rem 2rem;
      }
    }
      &__error {
        margin: 0 0 1rem;
        color: rgb(206, 51, 51);
        @include MP3;
  
        @include tablet {
            @include P2;
        }
  
        @include desktop {
            margin: 0;
        }
      }
    
  }