@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;


.about{

    &__text {
    margin: 10rem 1.5rem 0;
    @include MP2;
    text-align: center;

    @include tablet {
        margin: 17rem 7rem 0;
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-style: italic;
    }

    @include desktop {
        margin: 18rem 10rem 0;
        font-size: 1.25rem;
        line-height: 1.85rem;
    } 
}
}
