@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;


.about{

    &__text {
    margin: 12rem 1.5rem 0;
    @include MP2;
    text-align: center;

    @include tablet {
        margin: 16rem 5rem 0;
        @include P1;
    }

    @include desktop {
        margin: 18rem 10rem 0;
        @include P1;
    }
    
}

}
